.home-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-title-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-family: "OrthodoxHerbertarian";
  font-size: 19.2rem;
  letter-spacing: 5.0rem;
}

.home-description {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  text-align: right;
}

.home-purpose-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-wrapper {
  width: 80%;
}

.p-wrapper > p {
  font-size: 2.4rem;
}