.home-title-wrapper {
  position: absolute;
  top: 40%;
  left: 10%;
}

.home-title {
  font-family: "OrthodoxHerbertarian";
  font-size: 19.2rem;
  letter-spacing: 5.0rem;
}

.home-description {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  text-align: right;
}