.button {
  height: 3rem;
  background-color: $black;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  transition: all ease-in .2s;

  &:hover {
    cursor: pointer;
    background-color: lighten($black, 25%);
    transform: translateY(-1px)
  }
}

.button.med {
  width: 200px;
}

.button-register {
  width: 75%;
  height: 3rem;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.button-nav {
  width: 200px;
  height: 3rem;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}