.hamburger-wrapper {
  width: 3rem;
  height: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 2%;
  right: 1%;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.5s;

  -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.5s;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.hamburger-bar {
  width: 25px;
  height: 3px;
  background-color: black;
  
}