@mixin btn($bg-color, $color, $width) {
  height: 3rem;
  width: $width;
  background-color: $bg-color;
  border: none;
  color: $color;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all ease-in .1s;

  &:hover {
    background-color: lighten($bg-color, 25%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
  }
}

@mixin fade-in($time) {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: $time;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInOpacity {
  0% { opacity: 0 }
  100% { opacity: 1 }
}